<include file="Public/min-header"/>
<div class="wrapper">
    <include file="Public/breadcrumb"/>
    <section class="content">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> 代理商详情</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_tongyong" data-toggle="tab">代理信息</a></li>
                    </ul>
                    <!--表单数据-->
                    <form method="post" id="addEditGoodsTypeForm" onsubmit="">                    
                        <!--通用信息-->
                    <div class="tab-content">                 	  
                        <div class="tab-pane active" id="tab_tongyong">
                           
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td>用户名:</td>
                                    <td>
                                        <input type="text" value="{$proxy.username}" name="username" id="username" />
                                        <span id="err_name" style="color:#F00; display:none;">代理的名称不能为空!!</span>
                                </tr>
                                <tr>                                        
                                    </td>

                                    <td>密码:</td>
                                    <td>
                                        <input type="text" value="" name="password" id="password" />                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>真实姓名:</td>
                                    <td>
                                        <input type="text" value="{$proxy.name}" name="name" id="name" />                                        
                                    </td>
                                </tr>  
                                <tr>
                                    <td>注册时间:</td>
                                    <td>
                                        <input type="text" value='{$proxy.register}' name="register" id="register" />                                      
                                    </td>
                                </tr> 
                                <tr>
                                    <td>手机号码:</td>
                                    <td>
                                        <input type="text" value="{$proxy.phone}" name="phone" id="phone" />                                        
                                    </td>
                                </tr>   
                                <tr>
                                    <td>身份证号:</td>
                                    <td>
                                        <input type="text" value="{$proxy.id_card}" name="id_card" id="id_card" />                                        
                                    </td>
                                </tr>  
                                <tr>
                                    <td>银行卡账户:</td>
                                    <td>
                                        <input type="text" value="{$proxy.bank_card}" name="bank_card" id="bank_card" />                                        
                                    </td>
                                </tr> 
                                <tr>
                                    <td>分成百分比（小数）:</td>
                                    <td>
                                        <input type="text" value="{$proxy.divided}" name="divided" id="divided" />                                        
                                    </td>
                                </tr> 
                                <tr>
                                    <td>所属总代:</td>
                                    <td>
                                       
                                        <select  value="{$proxy.category}" name="category" id="category">
                                        <volist name="agentarr" id="vo">
                                          <option>{$vo.agentname}</option>
                                         </volist>
                                        </select>                                        
                                    </td>
                                </tr>                             
                                </tbody>                                
                                </table>
                        </div>                           
                    </div>              
                    <div class="pull-right">
                        <input type="hidden" name="id" value="{$proxy.id}">
                        <button class="btn btn-primary" title="" data-toggle="tooltip" type="submit" data-original-title="保存"><i class="fa fa-save"></i></button>
                    </div>
			    </form><!--表单数据-->
                </div>
            </div>
        </div>    <!-- /.content -->
    </section>
</div>
<script>
// 判断输入框是否为空
function checkName(){
	var name = $("#addEditGoodsTypeForm").find("input[name='username']").val();
    if($.trim(name) == '' && $('#username')=null)
	{
		$("#err_name").show();
		return false;
	}
	return true;

}



</script>

</body>
</html>