	<footer class="main-footer">
	</footer>
<script src="__PUBLIC__/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/fastclick/fastclick.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/dist/js/app.js" type="text/javascript"></script>
<script src="__PUBLIC__/dist/js/demo.js" type="text/javascript"></script>
 
<script type="text/javascript">
$(document).ready(function(){
	$("#riframe").height($(window).height()-100);//浏览器当前窗口可视区域高度
//	$("#rightContent").height($(window).height()-100);
//	$('.main-sidebar').height($(window).height()-50);
});
</script>
</body>
</html>