<div class="w90 like">
	<p>您可能喜欢：</p>
	<div class="table-responsive">
	<table class="table">
		<tbody>
			<tr>
				<td>
					<a href="#"><img src="__PUBLIC__/images/goods.png"></a>		
					<span class="goods_price pull-left">&yen;359.00</span>
					<button class="btn orange_btn pull-right">
						<span class="glyphicon glyphicon-shopping-cart"></span>加入
					</button>
					<div class="clearfix"></div>
					<a href="#">Avene/雅漾 舒护活泉水</a>
				</td>
				<td>
					<a href="#"><img src="__PUBLIC__/images/goods.png"></a>		
					<span class="goods_price pull-left">&yen;359.00</span>
					<button class="btn green_btn pull-right">
						<span class="glyphicon glyphicon-shopping-cart"></span>已加入
					</button>
					<div class="clearfix"></div>
					<a href="#">Avene/雅漾 舒护活泉水</a>
				</td>
				<td>
					<a href="#"><img src="__PUBLIC__/images/goods.png"></a>		
					<span class="goods_price pull-left">&yen;359.00</span>
					<button class="btn orange_btn pull-right">
						<span class="glyphicon glyphicon-shopping-cart"></span>加入
					</button>
					<div class="clearfix"></div>
					<a href="#">Avene/雅漾 舒护活泉水</a>
				</td>
				<td>
					<a href="#"><img src="__PUBLIC__/images/goods.png"></a>		
					<span class="goods_price pull-left">&yen;359.00</span>
					<button class="btn orange_btn pull-right">
						<span class="glyphicon glyphicon-shopping-cart"></span>加入
					</button>
					<div class="clearfix"></div>
					<a href="#">Avene/雅漾 舒护活泉水</a>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>