<include file="Public/header" title="购物完成" css=""/>
<include file="Public/nav"/>
<!--当前位置-->
<div class="w90">
	<div class="container-fluid">
		<!--当前位置-->
		<ol class="breadcrumb">
			<span class="grey">当前位置:&nbsp;&nbsp;&nbsp;</span>
			<li>
				<a href="{:U('Index/index')}">首页</a>
			</li>
			<li>
				<a href="#">购物完成</a>
			</li>
		</ol>
		<!--完成-->
		<div class="finish text-center">
			<div class="cart_head">完成</div>
			<div class="cart_content">
				<img src="__PUBLIC__/images/OK.png">
				<div class="cart_head">恭喜你，已经成功下单！</div>
			</div>
			<p>请注意屏幕下方打印出的购物凭证，<br>您可以通过手机扫描购物凭证的二维码来跟踪订单！</p>
		</div>
	</div>
</div>
<include file="Public/footer"/>