<!--header-->
<include file="Public/header" title="首页" css="__PUBLIC__/css/index.css"/>
<!--轮播图-->
<div class="carousel" id="ad_carousel">
	<!--图片中部下方的切换图片的小圈-->
	<ol class="carousel-indicators">
		<li data-slide-to="0" data-target="#ad_carousel"></li>
		<li data-slide-to="1" data-target="#ad_carousel"></li>
	</ol>
	<!--要切换的图片-->
	<div class="carousel-inner">
		<div class="item active">
			<img alt="ad1" src="__PUBLIC__/images/ad01.png" width="100%"/>
		</div>
		<div class="item">
			<img alt="ad2" src="__PUBLIC__/images/ad02.png" width="100%"/>
		</div>
	</div>
	<!--图片切换方向箭头-->
	<a class="left carousel-control" href="#ad_carousel" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#ad_carousel" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>

<!--导航栏-->
<div id="idx_nav">
	<div class="container-fluid">
		<div class="row text-center">
			<div class="col-xs-2 col-xs-offset-1">
				<a href="">
					<img src="__PUBLIC__/images/idx_nav_1.png" class="center-block img-responsive">
					<span class="text-center">母婴</span>
				</a>
			</div>
			<div class="col-xs-2">
				<a href="">
					<img src="__PUBLIC__/images/idx_nav_1.png" class="center-block img-responsive">
					<span class="text-center">母婴</span>
				</a>
			</div>
			<div class="col-xs-2">
				<a href="">
					<img src="__PUBLIC__/images/idx_nav_1.png" class="center-block img-responsive">
					<span class="text-center">母婴</span>
				</a>
			</div>
			<div class="col-xs-2">
				<a href="">
					<img src="__PUBLIC__/images/idx_nav_1.png" class="center-block img-responsive">
					<span class="text-center">母婴</span>
				</a>
			</div>
			<div class="col-xs-2">
				<a href="">
					<img src="__PUBLIC__/images/idx_nav_1.png" class="center-block img-responsive">
					<span class="text-center last_title">母婴</span>
				</a>
			</div>
		</div>
	</div>
</div>


<div class="idx_goods_list">
	<div class="w90">
		<div class="container-fluid">
			<!-- 今日推荐-->		
			<div class="goods_head">
				<div class="row">
					<div class="col-xs-8 goods_title orange">
						<span class="glyphicon glyphicon-stop"></span> 今日推荐:
					</div>
					<div class="col-xs-4 text-right">
						<a class="grey" href="#">更多</a>
					</div>
				</div>
			</div>
			<div class="goods_content">
				<div class="row" >
					<div class="col-xs-3">
						<a href="#"><img src="__PUBLIC__/images/goods.png"></a>		
						<span class="goods_price pull-left">&yen;359.00</span>
						<button class="btn orange_btn pull-right">
							<span class="glyphicon glyphicon-shopping-cart"></span>加入
						</button>
						<div class="clearfix"></div>
						<a href="#">Avene/雅漾 舒护活泉水</a>
					</div>
					<div class="col-xs-3">
						<a href="#"><img src="__PUBLIC__/images/goods.png"></a>		
						<span class="goods_price pull-left">&yen;359.00</span>
						<button class="btn green_btn pull-right">
							<span class="glyphicon glyphicon-shopping-cart"></span>已加入
						</button>
						<div class="clearfix"></div>
						<a href="#">Avene/雅漾 舒护活泉水</a>
					</div>
					<div class="col-xs-3">
						<a href="#"><img src="__PUBLIC__/images/goods.png"></a>		
						<span class="goods_price pull-left">&yen;359.00</span>
						<button class="btn orange_btn pull-right">
							<span class="glyphicon glyphicon-shopping-cart"></span>加入
						</button>
						<div class="clearfix"></div>
						<a href="#">Avene/雅漾 舒护活泉水</a>
					</div>
					<div class="col-xs-3">
						<a href="#"><img src="__PUBLIC__/images/goods.png"></a>		
						<span class="goods_price pull-left">&yen;359.00</span>
						<button class="btn orange_btn pull-right">
							<span class="glyphicon glyphicon-shopping-cart"></span>加入
						</button>
						<div class="clearfix"></div>
						<a href="#">Avene/雅漾 舒护活泉水</a>
					</div>
				</div>
			</div>
			<!--热门排行-->		
			<div class="goods_head">
				<div class="row">
					<div class="col-xs-8 goods_title green">
						<span class="glyphicon glyphicon-stop"></span>热门排行:
					</div>
					<div class="col-xs-4 text-right">
						<a href="#" class="grey">更多</a>
					</div>
				</div>
			</div>
			<div class="goods_content">
				<div class="row" >
					<div class="col-xs-3">
						<a href="#">
							<img src="__PUBLIC__/images/goods.png"></a>
						<span class="goods_price pull-left">&yen;359.00</span>
						<button class="btn orange_btn pull-right">
							<span class="glyphicon glyphicon-shopping-cart"></span>
							加入
						</button>
						<div class="clearfix"></div>
						<a href="#">Avene/雅漾 舒护活泉水</a>
					</div>
					<div class="col-xs-3">
						<a href="#">
							<img src="__PUBLIC__/images/goods.png"></a>
						<span class="goods_price pull-left">&yen;359.00</span>
						<button class="btn green_btn pull-right">
							<span class="glyphicon glyphicon-shopping-cart"></span>
							已加入
						</button>
						<div class="clearfix"></div>
						<a href="#">Avene/雅漾 舒护活泉水</a>
					</div>
					<div class="col-xs-3">
						<a href="#">
							<img src="__PUBLIC__/images/goods.png"></a>
						<span class="goods_price pull-left">&yen;359.00</span>
						<button class="btn orange_btn pull-right">
							<span class="glyphicon glyphicon-shopping-cart"></span>
							加入
						</button>
						<div class="clearfix"></div>
						<a href="#">Avene/雅漾 舒护活泉水</a>
					</div>
					<div class="col-xs-3">
						<a href="#">
							<img src="__PUBLIC__/images/goods.png"></a>
						<span class="goods_price pull-left">&yen;359.00</span>
						<button class="btn orange_btn pull-right">
							<span class="glyphicon glyphicon-shopping-cart"></span>
							加入
						</button>
						<div class="clearfix"></div>
						<a href="#">Avene/雅漾 舒护活泉水</a>
					</div>
					<div class="col-xs-3">
						<a href="#">
							<img src="__PUBLIC__/images/goods.png"></a>
						<span class="goods_price pull-left">&yen;359.00</span>
						<button class="btn green_btn pull-right">
							<span class="glyphicon glyphicon-shopping-cart"></span>
							已加入
						</button>
						<div class="clearfix"></div>
						<a href="#">Avene/雅漾 舒护活泉水</a>
					</div>
					<div class="col-xs-3">
						<a href="#">
							<img src="__PUBLIC__/images/goods.png"></a>
						<span class="goods_price pull-left">&yen;359.00</span>
						<button class="btn orange_btn pull-right">
							<span class="glyphicon glyphicon-shopping-cart"></span>
							加入
						</button>
						<div class="clearfix"></div>
						<a href="#">Avene/雅漾 舒护活泉水</a>
					</div>
					<div class="col-xs-3">
						<a href="#">
							<img src="__PUBLIC__/images/goods.png"></a>
						<span class="goods_price pull-left">&yen;359.00</span>
						<button class="btn orange_btn pull-right">
							<span class="glyphicon glyphicon-shopping-cart"></span>
							加入
						</button>
						<div class="clearfix"></div>
						<a href="#">Avene/雅漾 舒护活泉水</a>
					</div>
					<div class="col-xs-3">
						<a href="#">
							<img src="__PUBLIC__/images/goods.png"></a>
						<span class="goods_price pull-left">&yen;359.00</span>
						<button class="btn orange_btn pull-right">
							<span class="glyphicon glyphicon-shopping-cart"></span>
							加入
						</button>
						<div class="clearfix"></div>
						<a href="#">Avene/雅漾 舒护活泉水</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--footer-->
<include file="Public/footer"/>