<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="__CONTROLLER__/addGoods" method="post">
        <div><span>商品名称&nbsp;&nbsp;：</span><input type="text" name="goods_name"></div>
        <div><span>商品简介&nbsp;&nbsp;：</span><textarea name="goods_remark" id="" cols="40" rows="5"></textarea></div>
        <div><span>商品货号&nbsp;&nbsp;：</span><input type="text" name="goods_sn"></div>
        <div><span>商品分类&nbsp;&nbsp;：</span><input type="text" name="cate_id"></div>
        <div><span>商品品牌&nbsp;&nbsp;：</span><input type="text"></div>
        <div><span>本店售价&nbsp;&nbsp;：</span><input type="text"></div>
        <div><span>市场价&nbsp;&nbsp;&nbsp;：</span><input type="text"></div>
        <div><span>成本价&nbsp;&nbsp;&nbsp;：</span><input type="text"></div>
        <div><span>上传商品图片：</span><input type="text"></div>
        <div><span>商品重量&nbsp;&nbsp;：</span><input type="text"></div>
        <div><span>库存数量&nbsp;&nbsp;：</span><input type="text"></div>
        <div><span>赠送积分&nbsp;&nbsp;：</span><input type="text"></div>
        <div><span>搜索关键词&nbsp;：</span><input type="text"></div>
        <div><span>商品详情描述：</span><textarea name="" id="" cols="40" rows="5"></textarea></div>
        <input type="submit" value="提交">
    </form>
</body>
</html>