<include file="Public/header" title="信息填写" css=""/>
<include file="Public/nav"/>
<!--当前位置-->
<div class="w90 cart">
	<div class="container-fluid">
		<!--当前位置-->
		<ol class="breadcrumb">
			<span class="grey">当前位置:&nbsp;&nbsp;&nbsp;</span>
			<li>
				<a href="__MODULE__/index/index/agent_id/{$Think.session.agent_code}">首页</a>
			</li>
			<li>
				<a href="#">收货信息</a>
			</li>
		</ol>
		<!--信息填写-->
		<div class="message text-center">
			<div class="cart_head">信息填写</div>
			<div class="cart_content text-left">
				<form class="form-horizontal" action="__SELF__/agent_id/{$Think.session.agent_code}" method="post">
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label">收货人：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="name" name="consignee">
						</div>
					</div>
					<div class="form-group">
						<label for="phone" class="col-sm-3 control-label">手机：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="phone" name="mobile">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">地区：</label>
						<div class="col-sm-9 area">
							<div class="col-sm-4">
								<select class="form-control" name="province" id="provence" onchange="setProvence(this)">
									<option>江苏省</option>
								</select>
							</div>
							<div class="col-sm-4">
								<select class="form-control" name="city" id="city" onchange="setCity(this)">
									<option>苏州市</option>
								</select>
							</div>
							<div class="col-sm-4">
								<select class="form-control" name="district" id="district">
									<option>某某区</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="address" class="col-sm-3 control-label">详细地址：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="address" name="address">
						</div>
					</div>
				</form>
			</div>
			<button class="btn green_btn" onclick="location.href='__MODULE__/Order/pay/agent_id/{$Think.session.agent_code}'">完成</button>
		</div>
	</div>
</div>
<include file="Public/footer"/>
<script>
	$(function() {
		$.ajax({
			url: "/index.php/Admin/address/getRegion",
			type: "get",
			dataType: "json",
			success: function (msg) {
				$.each(msg['region'], function (k, v) {
					if (k == 0)
						$("#provence").append("<option selected value=" + v.id + " data-id=" + v.id + ">" + v.name + "</option>");
					else
						$("#provence").append("<option value=" + v.id + " data-id=" + v.id + ">" + v.name + "</option>");
				});
			},
			error: function (msg) {
				alert("出错了");
			}
		});
		$.ajax({
			url: "/index.php/Admin/address/RegionTree",
			type: "get",
			dataType: "json",
			success: function (msg) {
				$.each(msg['region'], function (k, v) {
					if (k == 0)
						$("#city").append("<option selected value=" + v.id + " data-id=" + v.id + ">" + v.name + "</option>");
					else
						$("#city").append("<option value=" + v.id + " data-id=" + v.id + ">" + v.name + "</option>");
				});

				$.each(msg['region'][0].child, function (k, v) {
					if (k == 0)
						$("#district").append("<option selected value=" + v.id + " data-id=" + v.id + ">" + v.name + "</option>");
					else
						$("#district").append("<option value=" + v.id + " data-id=" + v.id + ">" + v.name + "</option>");
				});
			},
			error: function (msg) {
				alert("出错了");
			}
		});
	});

	function setProvence(obj){
		var parent_id = $("#provence option:selected").data('id');
		console.log(parent_id);
		$.ajax({
			url: "/index.php/Admin/address/RegionTree/parent_id/"+parent_id,
			type: "get",
			dataType: "json",
			success: function (msg) {
				$("#city").html("");
				$.each(msg['region'], function (k, v) {
					if (k == 0)
						$("#city").append("<option selected value=" + v.id + " data-id="+ v.id+">" + v.name + "</option>");
					else
						$("#city").append("<option value=" + v.id + " data-id="+ v.id+">" + v.name + "</option>");
				});
				$("#district").html("");
				$.each(msg['region'][0].child, function (k, v) {
					if (k == 0)
						$("#district").append("<option selected value=" + v.id + " data-id="+ v.id+">" + v.name + "</option>");
					else
						$("#district").append("<option value=" + v.id + " data-id="+ v.id+">" + v.name + "</option>");
				});
			},
			error: function (msg) {
				alert("出错了");
			}
		});
	}

	function setCity(obj){
		var parent_id = $("#city option:selected").data('id');
		$.ajax({
			url: "/index.php/Admin/address/RegionTree/parent_id/"+parent_id,
			type: "get",
			dataType: "json",
			success: function (msg) {
				$("#district").html("");
				$.each(msg['region'], function (k, v) {
					if (k == 0)
						$("#district").append("<option selected value=" + v.id + " data-id="+ v.id+">" + v.name + "</option>");
					else
						$("#district").append("<option value=" + v.id + " data-id="+ v.id+">" + v.name + "</option>");
				});
			},
			error: function (msg) {
				alert("出错了");
			}
		});
	}
</script>